*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: screen;
    height: 80vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    width: 95vw;
    height: 80vh;
}

.topnav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 10000;
}
#Menuitems{
    display: none;
}
.topnav h4{
    font-size: 15px;
    color: #ffffff;
}
.topnav h4 span{
    color: #e27209f3;
}
.topnav nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: inherit;
}
.topnav nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
.flag{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #002402;
    background: linear-gradient(90deg, #002402 29%, #ffffff 29%, #ffffff 74%, #002402 74%);
    border: 1px solid khaki;
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    height: 80vh;
}
.header-left-div{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 60vh;
}
.header-left-div p{
    color: #ffffff;
    font-size: 15px;
}
.header-left-div span{
    color: #e27209f3;
    font-size: 55px;
}
.header-left-div small{
    color: #ffffff;
    font-size: 20px;
}
.talk-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    background-color: #e27209f3;
    transition: transform .5s;
    transform: skew(-14deg);
    font-weight: 800;
}
.talk-div:hover{
    transform: skew(14deg);
    cursor: pointer;
}
.bi-list{
    display: none;
}
.dropdown-menu {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 57px;
    background-color: #e27209f3;
    width: 100vw;
    height: 6vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
.dropdown-menu a{
    text-decoration: none;
    color: #000;
    font-weight: 900;
}

/* About section */

#About{
    width: screen;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95vw;
    height: inherit;
}
.title{
    width: 60vw;
    height: 10vh;
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}
.title span{
    color: #e27209f3;
}
.about p{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    width: 70vw;
}
.icons{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons .social a{
    text-decoration: none;
    color: #e27209f3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e27209f3;
    border-radius: 50%;
    margin: 3px;
    font-size: 20px;
    font-weight: 900;
}
.icons .social a:hover{
    background-color: #e27209f3;
    color: #000;
}

/* my service section */

#services{
    width: screen;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.service-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95vw;
    height: inherit;

}
.our-service{
    width: 90vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service{
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e4d8d8;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 1px 2px 8px #000;
}
.service h3{
    font-size: 23px;
    width: 15vw;
    text-align: center;
    color: #000;
}
.service p{
    text-align: center;
    width: 250px;
    color: #e27209f3;
    font-weight: 900;
}
.service .bi{
    font-size: 100px;
    color: #e27209f3;
}
.service li{
    color: #000;
    font-size: 12px;
    width: 20vw;
    position: relative;
    
}
.service li span{
    color: #fff;
    font-weight: 600;
}
.list{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f0e68c;
    position: absolute;
    left: -20px;
    top: 3px;
}

/* my skills section */
#skills{
    width: screen;
    height: 80vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #000;
}
.skills-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95vw;
    height: inherit;
}
.myskills{
    width: 95vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.row{
    width: 70vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.col{
    width: 50vw;
    color: #fff;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
    
}
.col img{
    width: 150px;
}


/* my works section */

#works{
    width: screen;
    height: 80vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #000;
}
.works{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95vw;
    height: inherit;
}
.works p{
    color: #ffffff;
    font-size: 30px;
    width: 70vw;
    text-align: center;
}
.works a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 40px;
    background-color: #e27209f3;
    padding: 10px;
    transform: skew(-14deg);
    transition: transform .5s;
}
.works a:hover{
    transform: skew(14deg);
}

/* contact section */
#mycontact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: screen;
    height: 90vh;
    background-color: #000;
    flex-direction: column;
}
.contact h2{
    font-size: 40px;
    color: #e27209f3;
    text-align: center;
    margin-bottom: 10px;
}

.contact  form{
    width: 600px;
    text-align: center;
}

form .input-box{
    display: flex;
    justify-content: space-between;
}

.input-box .input-field{
    width: 48.5%;
}

/* .field.error .item{
    border-color: #ff0000;
} */
.field .item{
    width: 100%;
    padding: 10px;
    background: transparent;
    outline: none;
    border-radius: 6px;
    border: 2px solid #faebd7;
    color: #fff;
    margin: 12px 0;
}

/* .field .item:invalid{
    border-color: #ff0000;
} */
.field .item:valid{
    border: 6px solid #e27209f3;
    box-shadow: 0 0 10px #e27209f3;
}

.field .item::placeholder{ 
    color: #faebd7;
}
form .textarea-field .item{
    resize: none;
}

form button{
    padding: 12px 32px;
    background-color: #e27209f3;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #e27209f3;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover{
    box-shadow: none;
}

.field .error-txt{
    font-size: 14px;
    color: #ff0000;
    text-align: left;
    margin:  -5px 0 10px;
    display: none;
}

form .textarea-field .error-txt{
    margin-top: -10px;
}
footer{
    width: screen;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e27209f3;
    color: #fff;
    font-size: 15px;
}
@media only screen and (max-width:768px) {
    header{
        height: 150vh;
    }
    .header-div{
        flex-direction: column-reverse;
        height: inherit;
    }
    .header-left{
        width: 100vw;
    }
    .header-left-div{
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-left-div small{
        width: 70vw;
        text-align: center;
    }
    .topnav nav{
        display: none;
    }
    #Menuitems{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .bi-list{
        color: #e27209f3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid #e27209f3;
        font-size: 20px;
    }
    #services{
        height: 200vh;
    }
    .service-div{
        height: inherit;
    }
    .our-service{
        height: inherit;
    }
    #skills{
        height: 180vh;
    }
    .myskills{
        height: 130vh;
    }
    .skills-div{
        height: inherit;
    }
    #works{
        height: 100vh;
    }
    .title{
        width: 100vw;
    }
}
@media only screen and (max-width:425px) {
    .banner-img img{
        width: 400px;
    }
    .header-left-div h1 span{
        font-size: 30px;
    }
    .header-div{
        justify-content: space-around;
    }
    .header-left-div{
        height: 70vh;
    }
    #About{
        height: 160vh;
    }
    .about p{
        width: 100vw;
    }
    #services{
        height: 230vh;
    }
    .our-service{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .service h3{
        width: 40vw;
    }
    
    #works{
        height: 120vh;
    }
    .works{
        width: 100vw;
        height: inherit;
    }
    .works p{
        width: inherit;
        font-size: 20px;
    }
    .myskills{
        width: 100vw;
    }
    .row{
        width: inherit;
    }
    .col{
        width: inherit;
    }
    #mycontact{
        height: 160vh;
    }
    
    .input-box{
        flex-direction: column;
    }
    .textarea-field{
        width: 200px;
    }
    .contact form{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .form-div{
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .input-box{
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input-box .input-field{
        width: 300px;
    }
    .textarea-field{
        width: 300px;
    }
    .banner-img img{
        width: 300px;
    }
}
@media only screen and (max-width:375px) {

}
@media only screen and (max-width:320px) {
    header{
        height: 140vh;
    }
    .header-div{
        height: 130vh;
    }
    .header-left-div h1 span{
        font-size: 19px;
    }
    .header-left-div small{
        width: 90vw;
    }
    #About{
        height: 120vh;
    }
    .about p{
        font-size: 15px;
        width: 100vw;
    }
    #services{
        height: 270vh;
    }
    footer p{
        font-size: 12px;
    }

}